* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #2fc7e2cc, #00457e);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #fff;
    width: 400px;
    padding: 25px;
    border-radius: 10px;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 10px;
}

input, select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

input:focus, select:focus {
    border-color: #5b4bdb;
}

button {
    margin-top: 20px;
    padding: 10px;
    background: #2701ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    font-size: 15px;
}

button:hover {
    background: #4839c9;
}